html, body {
    margin: 0%;
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    height: 100;
}


/* i got the font- family from font-family: 'Yeon Sung', cursive;  */

.profile-pic {
    margin: 2.5em;
    border-style: none;
    border-radius: 25%;
    filter: grayscale(0);
    width: 25vw;
    color: rgb(36, 16, 16);
}

/* tranforming my pics code was gotten from https://developer.mozilla.org/en-US/docs/Web/CSS/transform*/

.nav-bar {
    display: flex;
    height: 20%;
}
/*background colour and positioning of the left side of the navigation bar*/
.navbar-left{
flex-basis: 20%;
background: rgb(14, 13, 13);
display: grid;
}
/*display of the "Home" on the webpage*/
.navbar-left ul{
    float: right;
    padding: 35px 40px 10px 40px;
}
/*display of the "Home" on the webpage without bullet point and line due to hyperlink*/
.navbar-left ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
/*display of the "Home" on the webpage showing the font sizr and display colour*/
.navbar-left ul li a {
    transition: all 200ms ease-in-out;
    color: rgb(185, 166, 184);
    font-size: 1.5em;
}
/*display of the "Home" on the webpage* after a mouse has hovered over it*/
.navbar-left ul li a:hover {
    color: rgb(98, 236, 98);
}

.navbar-left ul li a:hover:before, .navbar-right ul li a:hover:after{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.navbar-right{
flex-basis: 81%;
display: grid;
background-color: rgb(14, 13, 13);
}
/*background:rgb(197, 140, 192); */
.navbar-right ul{
    float: right;
    padding: 35px 40px 10px 40px;
}

.navbar-right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.navbar-right ul li a {
    transition: all 200ms ease-in-out;
    color: rgb(185, 166, 184);
    font-size: 1.25rem;
}

.navbar-right ul li a:hover {
color: rgb(110, 110, 219);
}

.navbar-right ul li a:hover:before, .navbar-right ul li a:hover:after{
    opacity: 1;
    height: 2px;
    width: 100%;
}

body{
    background-image: linear-gradient(150deg, rgb(184, 68, 168) 39%, rgb(201, 219, 219) 96%);
}

h1 {
    color: lightcyan;
}

h3{
    color: lightyellow;
}

p {
    color:  lightcyan;
    font-size: 1.5em;
}


a{
    color: lightyellow;
    text-decoration: none;
    padding: 0.5rem;
    margin-bottom: 2%;
}




/*start of portfolio*/

* {
    margin:0;
    padding:0;
    }

.portfolio-header {
    text-align: center;
    display: block;
    color: rgb(14, 13, 13);
}

/*the s[acing and border used in this code as container for furture purposes*/
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0,0, 0.1);
}

/*space | gap between each boxes*/
.container {
    width: 96;
    margin: 3rem auto; 
    padding-top: 2rem auto;

  }
  /*gallery-img and .gallery items, text, help was gotten from both class challenge and https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/*/
  .gallery-item {
      border-radius: 5px;
      box-shadow: 0 5px 20px rgba(0, 0,0, 0.5);
      transition: all .3s;
      overflow: hidden;
      position: relative;
      max-width: 100%;
  }
/*grid arrangement for each box*/
 .gallery {
   display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: minmax(150px, auto); 
  grid-gap: 15px;
  

}

.gallery_img{
    width: 100%;
    height: auto;
    object-fit: cover;
     opacity: 0.75;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
    text-align: center;

    }
    /*hovering effect on each boxes*/
    .gallery-item:hover .gallery_img {
        filter: grayscale(1);
        
    }
    
    .gallery-item:hover .middle {
        opacity: 1;
       
    }
    
    .gallery-item:hover {
        box-shadow: 0 10px 20px rgba(92, 26, 26, 0.8);
    }
    /*this is used to display the hidden text on the box which will be displayed
when hovering at the boxes*/
    .text {
        color: white;
        font-size: 1.5em;
        padding: 5px 32px;
    }

       
       @media (max-width: 500px){
        .gallery_img{
            max-width: 50%;
            grid-column: 2;
            text-align: left;
            margin: 1em;
        }
        .container, h1 {
            text-align: left;
            margin-left: 2em;
        }
        .text{
            font-size: 1em;
        }
    }
       @media (max-width: 600px){
        .gallery_img {
        width: 75%;
        grid-column: 2;
        text-align: left;
        margin: 1em;
        }
       }

       

       
/* CV
the colour gradient code was inspiired from https://developer.mozilla.org/en-US/docs/
Learn/CSS/Building_blocks/Backgrounds_and_borders- this showed me how to do it
and i changed the code to make it what was morderned and eye appealing*/
/*also, the morden font gotten from google and used here*/
.cv_begins{
    background-image: linear-gradient(150deg, rgb(184, 68, 168) 39%, rgb(201, 219, 219) 96%);
    /*linear-gradient(105deg, rgb(243, 196, 196) 39%, rgb(68, 71, 71) 96%); */    font-family: 'Yeon Sung', cursive;
}
/*colour of social media logo and to prevent line on the header page*/

/*this is to center the title, display type and font colour*/
.subheading {   
    display: block;
    color: black;
    font-size: 2.5em;
}
/*image margine, style and sizing*/
.cv_begins img{
    border-radius: 75%;
    float: left;
    padding-right: 2em;
}

.me{
    color: lightyellow;
    font-size: 1em;
}

.into{
    color: black;
    font-size: 1em;
}
/*position of the text container and spacing*/
.area_expertise{
    float: left;
    padding: 10px 15px 10px 15px;
}
/*position of the text container and spacing*/
.area_expertise h3{
    text-align: center;
}
/*position of the text container, styling and spacing*/
.area_expertise ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px 10px 15px;
}
/*position of the text container and spacing*/
.work_experience {
    float: right;
    padding:  10px 15px 10px 15px/**15px 20px 10px 20px; **/;
}
/*position of the text container and spacing*/
.education{
    float: left;
    padding: 15px 20px 10px 20px;
}
.unlisted{
        color: lightyellow;
        text-decoration: none;
        list-style: none;
    }

/*position of the text container and spacing*/
.interest{
    float: left;
    padding: 15px 20px 10px 20px;
    list-style: none;
    color: lightyellow;
}
/*position of the text container and spacing*/
.references{
    float: left;
    padding: 15px 20px 10px 20px;   
}

.ref{
    color: lightyellow;
    font-size: 1em;
}



/* contact
the colour gradient code was inspiired from https://developer.mozilla.org/en-US/docs/
Learn/CSS/Building_blocks/Backgrounds_and_borders- this showed me how to do it
and i changed the code to make it what was morderned and eye appealing*/
/*also, the morden font gotten from google and used here*/
.contact{
    font-family: 'Yeon Sung', cursive;
    background-image: linear-gradient(150deg, rgb(184, 68, 168) 39%, rgb(201, 219, 219) 96%);
}
/* this is to align and space the social media logo*/
.media{
    text-align: center;
    margin: 1em;
}
/*font colour and design*/
.contact a{
    color:rgb(14, 13, 13);
    text-decoration: none;
}
/*alignment of text container, font size, display and spacing*/
.contacts h1{
    text-align: center;
    font-size: 3rem;
    display: block;
    margin: 0;
    padding: 0;
}

/* gotten help some code form https://codepen.io/Jemi_Olan/pen/KKwpBmL*/
/*font colour for header*/
.contact h1{
    color: rgb(14, 13, 13);
    padding-top: 1.5px;
}
/*font colour for sub-heading*/
.contact h2 {
    display: block;
    font-weight: 750em;
    font-size: 2.5em;
    color: rgb(14, 13, 13);    
}

/*font colour of subheading*/
.contact h4{
    color: rgb(14, 13, 13);   
} 
/*font colour of paragraphs*/
.contact p{
    color: rgb(68, 10, 10);   
}
/*font colour of address*/
.info{
    color: rgb(68, 10, 10); 
}
/*aligning of text container*/
.text-center {
    margin: 5em;
    text-align: center;
}
/*positioning of contact details and spacing*/
.left-row {
    width: 35%;
    float: left;
    padding: 5px 20px 10px 20px;
     margin: 1.5em;
}
/*positioning of contact form and spacing*/
.col-right{
    width: 30%;
    float: left;
    margin-left: 1em;
    margin-right: 2em;
    padding: 25px 40px 20px 35px;
    
}
/*contact form spacing*/
.col-details1{
    margin: 1em;
}
.col-details2{
    margin: 1em;
}
.col-details3{
    margin: 1em;
}
.form-details{
    margin: 1em;
}
.btn-block{
    margin: 1em;
}
/*similar footer for portfolio and cv*/
.footer{
    position: static;
    bottom: 0;
    margin-bottom:0;
   color:  rgb(174, 126, 174);
    background-color: rgb(14, 13, 13);
    width: 100%;
    height: 10%;
    float: right;
    text-align: center;
    font-size: 1.25em;
    padding: 1px;
}




